
{% extends "base.html" %}



{% block content %}

    <main role="main" class="inner cover">
        <h1 class="cover-heading">Resumen</h1>
        <p class="lead">Bienvenido a nuestra página de cuentos clásicos en español. Aquí encontrarás una selección de relatos de los mejores autores de todos los tiempos, quienes a pesar de haber fallecido, sus historias siguen vivas a través de sus escritos. </p>
        <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary">Conoce Más</a>
        </p>
    </main>
{% endblock content %}