{% extends "dashboard/base.html" %}

{% load static %}

{% block head %}
<style>
    .alert-container {
        position: sticky ;
        top: 0;
        right: 0;
        left: 0;
    }
</style>


{% endblock head %}

{% block content %}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Clientes</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->


    <div class="container">
        <!-- {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert"
                id="alert_{{ forloop.counter }}">
                {{ message }}
            </div>
            {% endfor %}
            <script>
                {% for message in messages %}
                setTimeout(function () {
                    $("#alert_{{ forloop.counter }}").alert('close');
                }, 1000);
            {% endfor %}
            </script>
        {% endif %} -->
        <div class="table-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                    <tr>
                        <td>{{ client.name }}</td>
                        <td>{{ client.email }}</td>
                        <td>{{ client.phone }}</td>
                        <td>
                            {% comment %} <a class="btn btn-primary" href="{% url 'client_detail' object.id %}">Editar</a>
                            {% endcomment %}
                            <a class="btn btn-danger open-modal" data-toggle="modal" data-target="#confirm-modal"
                                data-value="{{ client.id }}">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="alert-container">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                <script>
                    setTimeout(function () {
                        $(".alert").alert('close');
                    }, 5000);
                </script>
                {% endif %}
            </div>
        </div>


        <div class="modal-footer">
            <!-- Modal Para Crear Nuevo Cliente -->
            <button type="button" class="btn btn-secondary " data-bs-toggle="modal"
                data-bs-target="#crear-client-modal">
                Crear nuevo Cliente
            </button>

            <div class="modal fade" id="crear-client-modal" tabindex="-1" data-bs-backdrop="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Crea un nuevo cliente</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">

                            {% load crispy_forms_tags %}

                            <form method="post">
                                {% csrf_token %}
                                {{ form | crispy }}
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- Final Modal Para Crear Nuevo Cliente-->
        </div>

        <!-- Archivos JavaScript de Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>


        <div class="modal" tabindex="-1" role="dialog" id="confirm-modal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">¿Estas seguro?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Estás seguro de que deseas confirmar esta acción?</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" id="confirm-button">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


</div>
{% endblock content %}

{% block script %}


<script>
    $(".open-modal").click(function () {
        const value = $(this).data("value");
        $("#confirm-button").data("value", value);
    });

    $("#confirm-button").click(function () {
        const value = $(this).data("value");
        delete_client(value);
    });

    function delete_client(object_id) {
        $.ajax({
            url: window.location.href,
            type: "DELETE",
            data: JSON.stringify({ id: object_id }),
            headers: {
                "Content-Type": "application/json; charset=utf-8",
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            },
            dataType: "json",
            success: function (data) {
                location.reload();
            }
        });
    }
</script>

{% endblock script %}