{% extends "dashboard/base.html" %}

{% load static %}

{% block head %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{% static 'invoice/css/messages.css' %}" rel="stylesheet">


{% endblock head %}

{% block content %}

<main id="main" class="main">
    <!-- Page Title -->
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'invoice:dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active">Clientes</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <!-- Container -->
    <div class="container">

        <!-- Tabla de Clientes -->
        <div class="table-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                    <tr>
                        <td>{{ client.name }}</td>
                        <td>{{ client.email }}</td>
                        <td>{{ client.phone }}</td>
                        <td>
                            {% comment %} <a class="btn btn-primary"
                                href="{% url 'client_detail' object.id %}">Editar</a>
                            {% endcomment %}
                            <a class="btn btn-danger open-modal" data-toggle="modal" data-target="#confirm-modal"
                                data-value="{{ client.id }}">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div><!-- Fin Tabla de Clientes -->

            <!-- Alertas -->
        {% if messages %}
        <div class="container mt-5">
            {% for message in messages %}       
            <div class="alert alert-base p-4 alert-{{ message.tags }}">
               <i class="fa fa-info-circle" aria-hidden="true"></i>
               <span class="alert-body">
                 <h6 class="alert-header">{{ message.tags }}</h6>
                 <p class="mb-0">{{ message }}</p>
               </span>
            </div>
            {% endfor %}
        </div>
        {% endif %}<!-- Fin Alertas -->


        <!-- Modal Para Crear Nuevo Cliente -->
        <div class="modal-footer">

            <button type="button" class="btn btn-secondary " data-bs-toggle="modal"
                data-bs-target="#crear-client-modal">
                Crear nuevo Cliente
            </button>

            <div class="modal fade" id="crear-client-modal" tabindex="-1" data-bs-backdrop="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Crea un nuevo cliente</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">

                            {% load crispy_forms_tags %}

                            <form method="post">
                                {% csrf_token %}
                                {{ form | crispy }}
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div><!-- Final Modal Para Crear Nuevo Cliente-->
        </div>

        <!-- Archivos JavaScript de Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

        <!-- Modal oculto -->
        <div class="modal" tabindex="-1" role="dialog" id="confirm-modal">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">¿Estas seguro?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Estás seguro de que deseas confirmar esta acción?</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" id="confirm-button">Confirmar</button>
                    </div>
                </div>
            </div>
        </div><!-- Fin Modal oculto -->
    </div><!-- Fin Container -->

</main>


</div>
{% endblock content %}

{% block script %}

<script>
    $(document).ready(function () {

        $(".alert").fadeTo(2000, 1).slideUp(500, function () {
            $(".alert").alert('close');
        });

        $(".open-modal").click(function () {
            const value = $(this).data("value");
            $("#confirm-button").data("value", value);
        });

        $("#confirm-button").click(function () {
            const value = $(this).data("value");
            delete_client(value);
        });

        function delete_client(object_id) {
            $.ajax({
                url: window.location.href,
                type: "DELETE",
                data: JSON.stringify({ id: object_id }),
                headers: {
                    "Content-Type": "application/json; charset=utf-8",
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                },
                dataType: "json",
                success: function (data) {
                    location.reload();
                }
            });
        }
    });
</script>

{% endblock script %}