

{% extends "dashboard/base.html" %}


{% block content %} 

<div class="container">
  <h2>Listado de {{model_name}}s</h2>
  <br>
  <p>Añade, actualiza y elimina {{model_name}}s:</p>   
    {% if model_name == "Client" %}
        <a href="{% url 'client_create' %}" class="btn btn-outline-primary mb-3" role="button" aria-pressed="true">Añadir Cliente</a>
    {% elif model_name == "Invoice" %}  
        <a href="{% url 'invoice_create' %}" class="btn btn-outline-primary mb-3" role="button" aria-pressed="true">Añadir Factura</a>
    {% else %}
      <a href="{% url 'product_create' %}" class="btn btn-outline-primary mb-3" role="button" aria-pressed="true">Añadir Producto</a>
    {% endif %}
  
  <br>
  
  <table class="table table-striped">
    <thead>      
          <tr>    
            <th>Nombre</th>
            {% if model_name == "Client" %}
                <th>Correo</th>
                <th>Telefono</th> 
            {% elif model_name == "Invoice" %}  
                <th>Estado</th>
                <th>Cliente</th> 
            {% else %}
              <th>Precio</th>
              <th>Fabricante</th> 
            {% endif %}
            <th>Opciones</th>
        </tr>
    </thead>

    <tbody>
        {% for object in object_list %}     
            <tr>    
                {% if model_name == "Client" %}
                  <td>{{ object.name }}</td>
                  <td>{{ object.email }}</td>
                  <td>{{ object.phone }}</td>
                {% elif model_name == "Invoice" %} 
                  <td>{{ object.title }}</td>
                  <td>{{ object.status }}</td>
                  <td>{{ object.client.name }}</td> 
                {% else %}
                  <td>{{ object.name }}</td>
                  <td>{{ object.price }}</td>
                  <td>{{ object.maker }}</td>
                {% endif %}
                <td>                
                  {% if model_name == "Client" %}
                    <a class="btn btn-primary" href="{% url 'client_detail' object.id %}">Editar</a>
                  {% elif model_name == "Invoice" %} 
                    <a class="btn btn-primary" href="{% url 'invoice_detail' object.id %}">Editar</a>
                  {% else %}
                    <a class="btn btn-primary" href="{% url 'product_detail' object.id %}">Editar</a>
                  {% endif %}
                  <a class="btn btn-danger" onclick="confirmDelete({{ object.id }})">Eliminar</a>
                </td>            
            </tr>
        {% endfor %}
    </tbody>
  </table>


</div>

<script>
  function confirmDelete(product_id) {
      Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!'
    }).then((result) => {
      if (result.isConfirmed) {
        {% comment %} Swal.fire(
          'Deleted!',
          'Your file has been deleted.',
          'success'
        ) {% endcomment %}

         window.location.href="/products/delete/"+ product_id;

      }
    })
    }
</script>

{% endblock content %} 