


{% extends "dashboard/base.html" %}

{% load static %}

{% block content %}

{% load crispy_forms_tags %}    
    
    {% if model_name == "Client" %}
        <h1>Editar Cliente</h1>
    {% elif model_name == "Invoice" %}  
        <h1>Editar Factura</h1>
    {% else %}
      <h1>Editar Producto</h1>
    {% endif %}

    <div class="col-md-5 offset-md-3">

        <form method="post">
            {% csrf_token  %}
            {{form|crispy }}
            <button>Enviar</button>
        </form>

    </div>
    <script src="{% static 'ruta/a/tu/archivo.js' %}"></script>

{% endblock content %}