


{% extends "dashboard/base.html" %}

{% load static %}

{% block head %}   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

{% endblock head %}

{% block content %}

{% load crispy_forms_tags %}
    <h1>Crear un nuevo producto</h1>  
    <div class="col-md-5 offset-md-3">

        <form method="post">
            {% csrf_token  %}
            {{form|crispy }}
            <button>Enviar</button>
        </form>

    </div>
    <script src="{% static 'ruta/a/tu/archivo.js' %}"></script>

{% endblock content %}