{% extends "dashboard/base.html" %}

{% load static %}



{% block head %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>
    .container {
        max-width: 960px;
    }

    .border-top {
        border-top: 1px solid #e5e5e5;
    }

    .border-bottom {
        border-bottom: 1px solid #e5e5e5;
    }

    .border-top-gray {
        border-top-color: #adb5bd;
    }

    .box-shadow {
        box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    }

    .lh-condensed {
        line-height: 1.25;
    }

    .message-container {
        position: absolute;
        top: 0;
        right: 0;
        width: 200px;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        padding: 10px;
        display: none;
    }

    .message {
        margin: 0;
        color: red;
    }
</style>
{% endblock head %}

{% block content %}

<main id="main" class="main">
    <!-- Page Title -->
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'transactions:dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active">Clientes</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <div class="container">
        <div class="row">
            <div class="col-md-4 order-md-2 mb-4"><!-- Seccion de Transacción -->

                <form method="post" id="procesarTransaccion">
                    {% csrf_token %}
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Tu Transacción</span>
                        <span class="badge badge-secondary badge-pill">3</span>
                    </h4>

                    <ul class="list-group mb-3">

                        <li class="list-group-item d-flex justify-content-between lh-condensed"><!-- Cliente -->
                            <div>
                                <h6 class="my-0">Cliente</h6>
                                <small class="form-control-plaintext text-muted"
                                    id="client-name-container">Ninguno.</small>
                                <input type="hidden" name="{{ transaccion.cliente.name }}" value="" readonly>

                            </div>
                        </li><!-- Fin Cliente -->

                        <li class="list-group-item d-flex justify-content-between lh-condensed"><!-- Registro -->
                            <div>
                                <h6 class="my-0"> {{ tramite.registro.label }}</h6>
                                <input class="form-control-plaintext text-muted"
                                    value="{{ tramite.registro.value | upper }}" readonly>
                            </div>
                        </li><!-- Fin Registro -->

                        <li class="list-group-item d-flex justify-content-between lh-condensed"><!-- Clasificacion -->
                            <div>
                                <h6 class="my-0"> {{ tramite.clasificacion.label }}</h6>
                                <input class="form-control-plaintext text-muted" name="{{ tramite.clasificacion.name }}"
                                    type="text" value="{{ tramite.clasificacion.value | upper }}" readonly>

                            </div>

                        </li><!-- Fin Clasificacion -->

                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                {{ transaccion.vehiculo }}

                            </div>

                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                {{ transaccion.tramite }}
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                {{ transaccion.estado }}
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                {{ transaccion.creado }}
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                {{ transaccion.actualizado }}
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                {{ transaccion.valor_total }}
                            </div>
                        </li>
                    </ul>
                    <button class="btn btn-primary btn-lg btn-block"
                        type="submit">Procesar</button>
                </form>
            </div><!-- Final Seccion de Transacción -->


            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Cliente</h4>
                <div id="acordeon-cliente">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    Registrar nuevo Cliente
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#acordeon-cliente">
                            <div class="card-body">
                                <form id="form-crear-cliente">
                                    {{ cliente.as_p }}
                                    <button>Vincular</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    Vincular Cliente existente
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#acordeon-cliente">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3 mb-3">
                                        {{ cliente.tipo_documento }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <input class="form-control" type="search" id="input-search-cliente" name="query"
                                            placeholder="N.documento " title="Buscar Cliente">
                                        <div id="client_NotFound_id" class="message-container">
                                            <p>Cliente no encontrado.</p>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <button class="btn btn-secondary" title="Search" id="button-search-cliente"><i
                                                class="bi bi-search"></i>Buscar y vincular</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>



<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<script>
    $(function () {

        var buscarCliente_inputId = "#input-search-cliente";
        var buscarCliente_btnId = "#button-search-cliente";
        var displayTransaccion_cliente = "#client-name-container";
        var tipo_documento_selectId = "#" + "{{ cliente.tipo_documento.id_for_label }}"
        var crearClientr_formId = "#form-crear-cliente"
        var client_NotFound_id = "#client_NotFound_id"
        var procesarTransaccion_formId= "#procesarTransaccion"

        $(crearClientr_formId).submit(function (event) {
            event.preventDefault();
            const array = $(this).serializeArray();

            let data = {}
            array.reduce(function (obj, item) {
                data[item.name] = item.value;
            }, 0);

            Transaccion.add_cliente(data);

        })
        $(procesarTransaccion_formId).submit(function (event) {
            event.preventDefault();
            const array = $(this).serializeArray();

            let data = {}
            array.reduce(function (obj, item) {
                data[item.name] = item.value;
            }, 0);

            const merge= Object.assign(data, Transaccion)
            
            $.ajax({
                url: window.location.href,
                type: "POST",
                data: JSON.stringify(merge),
                headers: {
                    "X-Requested-Type": "procesar-transaccion",
                    "Content-Type": "application/json; charset=utf-8",
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                },
                success: function (data) {
                    alert(JSON.stringify(data))
                },
            });

        })

        const Transaccion = {
            add_cliente: function (data) {
                // Recibe un objeto
                this.cliente = data;
                $(displayTransaccion_cliente).text(data.nombre || "");
                // $(displayTransaccion_cliente).next().val(data.id || "")
            }
        }

        const Messages = {
            is_open: false,
            client_NotFound_id: client_NotFound_id,

            msg_ClientNotFound: function () {
                if (this.is_open == false) {
                    this.is_open = true;
                    $(client_NotFound_id).fadeIn().delay(2000).fadeOut(function () {
                        this.is_open = false;
                    }.bind(this));
                }
            }
        }
        $(buscarCliente_btnId).click(function () {
            const num_documento = $(buscarCliente_inputId).val()
            const tipo_documento = $(tipo_documento_selectId).val()
            $.ajax({
                url: window.location.href,
                type: "POST",
                data: JSON.stringify({ "num_documento": num_documento, "tipo_documento": tipo_documento }),
                headers: {
                    "X-Requested-Type": "buscar-cliente",
                    "Content-Type": "application/json; charset=utf-8",
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                },
                success: function (data) {
                    if (data.length == 0) {
                        Messages.msg_ClientNotFound()
                        Transaccion.add_cliente({})
                    } else {
                        Transaccion.add_cliente(data[0])
                    }
                },
            });
        });


    });
</script>
{% endblock content %}