{% extends "dashboard/base.html" %}

{% load static %}

{% block content %}
<main id="main" class="main">
    <!-- Page Title -->
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'transactions:dashboard' %}">Home</a></li>
                <li class="breadcrumb-item active">Clientes</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <!-- Container -->
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.registro.label_tag }}
                            {{ form.registro }}
                        </div>

                        <div class="form-group">
                            {{ form.clasificacion.label_tag }}
                            {{ form.clasificacion }}
                        </div>
                        <button type="submit" name="pre-select" class="btn btn-primary">Siguiente</button>
                    </form>
                </div>
            </div>
        </div>

    </div><!-- Fin Container -->
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

{% endblock content %}
